@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100%;
}

.content {
  height: 538.5px;
  width: 98.5%;
  margin-top: 6px;
  margin-left: 6px;
  display: flex;
}

.text_input {
  width: 160vh;
  height: 98%;
  margin: 5px;
  border-radius: 15px;
  align-items: flex-start;
  display: block;
}

.text_example {
  width: 400px;
  height: 98%;
  margin-left: 5px;
  border-radius: 8px;
  margin-top: 6px;
  background-color: rgb(37, 37, 37);
}

.write {
  width: 100%;
  height: 325px;
  margin-bottom: 5px;
  background-color: rgb(37, 37, 37);
  border-color: white;
  border-radius: 8px;
  border-width: 5px 5px 5px 5px;
}

.console {
  width: 100%;
  height: 140px;
  margin-bottom: 5px;
  background-color: rgb(78, 83, 83);
  border-radius: 8px;
}

.buttons {
  width: 100%;
  height: 45px;
  justify-content: center;
  display: flex;
}

.button {
  margin: 12px;
  position: relative;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #042616;
  transition: all 0.2s ease;
}
.button:active {
  transform: scale(0.96);
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -100;
  background-repeat: no-repeat;
}